body{
  margin: 0;

}

.container{
  display: grid;
  width: 1024px;
  margin: 0 auto;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;

}

.container > header,footer{
  background-color: #ddd;
  /*background-color: #ccd;*/
  grid-column: 1/5;
}

footer{
  border-bottom: 0.5em;
}
header{
  border-top-left-radius: : 0.5em;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 5px;
}

header > .logo{
  grid-column: 2/4;
}

header > .company{
  text-align: center;
  text-decoration-style: solid;
  grid-column: 4/10;
}


.container > nav{
  /*background-color: #abc;*/
  background-color: #dde;
  grid-column: 1/5;
}
.container > main{
  /*background-color: #fff;*/
  grid-column: 1/5;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;
}

main > section,article{
  background-color: #add;
  grid-column: 1/3;
  /*background-color: #cca;*/
  padding: 30px;
}

main > aside{
  background-color: #aaa;
  grid-column:3/5;
  grid-row: 1/3;
  padding: 30px;
}
